<div class="container-fluid footer layout-footer">
	<div class="row-fluid vertical">
		<div class="span7" id="version">
			Copyright © 2014 Vehimatics. All Rights Reserved.
			Build: ({{version.user}}) App Build: {{version.buildNumber}}</div>
		<!-- end span -->
		<div class="span5">
			<ul>
				<li><a href="/carcare/">Dashboard</a></li>
				<li class="all_users"><a href="/carcare/accounts/">Users</a></li>
				<li class="all_vehicles"><a href="/carcare/vehicles">Vehicles</a></li>

				<li class="all_resources hidden"><a href="/carcare/resources/">Resources</a></li>
				<li><a href="/learn/videos.jsp">Help</a></li>
				<li><a href="/carcare/feedback.jsp"> Contact</a></li>
			</ul>
		</div><!-- end span 6 -->
		<div class="span12 footer-logo">

			<img src="//s3.amazonaws.com/bucketimgs3/shared/img/delphi_logo_30.png" alt="Delpi" />

		</div>
	</div><!-- end row-fluid -->
</div>
