<style>
  .coupon-contents {overflow:hidden;height:200px}
  .coupon-contents h1 {font-size:20px; line-height:25px; margin-top:5px}
  .coupon-contents h3 {font-size:13px}
  .coupon-shell {width: 32%; margin-right: .5%}
</style>
<div class="screen-mfg-coupons"><!--begin controller div-->
  <block-tab links='promos' block-title="Promotions">
    <!--<pre>{{url}}</pre>-->
    <div>
      <h3 class="bebas-header">Manufacturer Coupons<!-- (<span class="xpand linkStyle" ng-click="page.thumbnailView = !page.thumbnailView" >toggle view</span>)--><div class="btn-group pull-right">
            <button title="Thumbnail View" class="btn" ng-click='page.thumbnailView = true' ng-class="{'active':page.thumbnailView == true}" ><i class="icon-th"></i></button>
            <button title="List View" class="btn" ng-click='page.thumbnailView = false' ng-class="{'active':page.thumbnailView == false}"><i class="icon-th-list"></i></button>        
          </div></h3>
      
    </div>
    <p>Click on a manufacturer coupon to preview that coupon and add it to your Current Coupons. Since the terms are set by the manufacturer, you can preview the coupon terms, but you will not be able to edit it before adding. Once added to "My Current Coupons", it will run like any other coupon promotion for your shop until it expires.</p>
    <div common-help tagged="promo-admin, mfg-coupons"  faq-title="FAQ: MFG Coupons"></div>
    <div ng-if='coupons' class='control-group' id="quick-search">
      <hr>
      <div>
        <div class="btn-toolbar">
          <input ng-model="filter.text" class="couponThumbnailView search-query" name="orderSearch" id="orderSearch" type="text" placeholder="Filter by any word, date, etc">
        </div>
        
      </div>
    </div>

    <div id="thumbnailView">

      <a ng-href="/carcare/promos/create-sag-coupons?mfg={{coupon.promoCouponId}}" ng-repeat="coupon in coupons | filter:filter.text | orderBy: sort.by.value : sort.reverse">
        <!--<div ng-show='coupons && page.thumbnailView' class="coupon-shell mfg-coupon" style="float:left">-->
        <div ng-show='coupons && page.thumbnailView' id="coupon-container" class="coupon-shell myCoupons" ng-class="{'mfg-coupon': coupon.couponType == 'MFG', 'couponA': coupon.cssStyle == 'couponA', 'couponB': coupon.cssStyle == 'couponB','couponC': coupon.cssStyle == 'couponC', 'couponD': coupon.cssStyle == 'couponD', 'couponE': coupon.cssStyle == 'couponE', 'expired': ((coupon.$endDate) && (coupon.$endDate < currentTimeUnix))}" style="float:left">
                  
          <div id="coupon" class="coupon-outer">
            <div class="coupon-inner">
              <div class="coupon-contents coupon-status">
                <h1 ng-hide='((coupon.$endDate) && (coupon.$endDate < currentTimeUnix))'>Promotion Status: Active</h1>
                <h1 ng-show='((coupon.$endDate) && (coupon.$endDate < currentTimeUnix))'>Promotion Status: Inactive</h1>
                <p class="center">
                  <!--<span ng-show='((coupon.$endExposureDate) && (coupon.$endExposureDate < currentTimeUnix))'>Exposures Ended on {{coupon.$endExposureDate * 1000 | date:'MM/dd/yy'}}.<br></span>-->
                  <span ng-show='((coupon.$endDate) && (coupon.$endDate < currentTimeUnix))'>Coupon Expired on {{coupon.$endDate * 1000 | date:'MM/dd/yy'}}.</span>
                </p>
                <hr>
                <p class="couponSAG center">
                  Coupon Triggered By SAG {{coupon.sagId}} - SAG Description
                  <span ng-show="coupon.couponMfgs.0.logoUrl || coupon.couponType === 'MFG'"><br>Manufacturer: {{coupon.couponMfgs.0.brandLabel || "Gates"}}</span>
                </p>
              </div>
              <div class="coupon-contents thumbnail-preview">
                <div class="couponLogo-container">
                  <img ng-repeat="logo in coupon.couponMfgs" ng-src="{{ logo.logoUrl}}">
                  <img ng-show="!coupon.couponMfgs.0.logoUrl && coupon.couponType !== 'MFG'" ng-src="//s3.amazonaws.com/bucketimgs3{{Session.applicationBranding.affiliationLogo}}.png">
                  <img ng-show="!coupon.couponMfgs.0.logoUrl && coupon.couponType === 'MFG'" src="//s3.amazonaws.com/bucketimgs3/shared/img/promos/gates/promo-logo.png">
                </div>
                <h4>{{coupon.startDate | date:'MM/dd/yy'}} - {{coupon.endDate | date:'MM/dd/yy'}}</h4>
                <h1 class="hideOverflow">{{coupon.couponDesc}}</h1>
                <h3 class="hideOverflow">{{coupon.couponText}}</h3>
                <div>
                  <p style="text-align:center;font-style:italic;font-size:8pt;">{{coupon.couponCode || "SAMPLC0D3"}}<br>{{coupon.couponValueText | uppercase}}</p>
                </div>
              </div><!-- coupon-contents -->
            </div><!--coupon-inner-->
          </div><!-- coupon-outer -->
        </div><!-- coupon-container coupon-shell-->
      </a>

    </div>

    
    <table ng-show='coupons && !page.thumbnailView' id="orders_report" class="table table-striped table-bordered" >
      <thead>
        <tr>
          <th class='sortable' th-sort-icon='promoCouponId'>ID</th>
          <th class='sortable' th-sort-icon='couponDesc'>Title</th>
          <th class='sortable' th-sort-icon='couponText'>Text</th>
          <th class='sortable' th-sort-icon='couponValueText'>Value</th>
          <th class='sortable' th-sort-icon='couponCode'>Code</th>
          <th class='sortable' th-sort-icon='startDate'>Starts</th>
          <th class='sortable' th-sort-icon='endDate'>Expires</th>
          <th class='sortable' th-sort-icon='sagID' style='width:69px'>SAG</th>
          <th class='non-sortable' style='width:100px'></th>
        </tr>
      </thead>
      <tbody class="hoverBody" ng-repeat="coupon in coupons | filter:filter.text | orderBy: sort.by.value : sort.reverse">
        <tr class="order mainReportRow-row" ng-class-odd="'reportRow-odd'" ng-class-even="'reportRow-even'" >
          
          <td>{{coupon.promoCouponId}}</td>
          <td>{{coupon.couponDesc}}</td>
          <td>{{coupon.couponText}}</td>
          <td>{{coupon.couponValueText}}</td>
          <td>{{coupon.couponCode}}</td>
          <td>{{coupon.startDate}}</td>
          <td>{{coupon.endDate}}</td>
          <td style='width:69px'>{{coupon.sagId}}</td>
          <td style="widtd:100px"><a ng-href="/carcare/promos/create-sag-coupons?mfg={{coupon.promoCouponId}}" class="btn btn-primary">Preview Coupon</a></td>
        </tr>
        
      </tbody>
    </table>
    <div id='reportLoading' ng-show='reportLoading && !coupons' >
        <img src='//s3.amazonaws.com/bucketimgs3/shared/img/ajax-loader.gif' alt='loading' />
        <span translate>Loading Current Coupons...&nbsp;</span>
    </div>
	  
  </block-tab>
</div>
