<style>
    .block-heading {display:none}
    .block-content {border:none;padding:0}
    .shop_info, .shop_img_wrapper {display:none}
    .instructions-container > h2:hover {cursor: default}
</style>
<div class="screen-operations-with-parts"><!--begin controller div-->
  <block>
      <div class="instructions-container">    

        <h2> Maintenance Operations w/ Parts</h2>
        <!--<div class="instructions" ng-show='showInstructions'>
          <p class="intro" >This utility can be used to generate a Report of demo devices that will expire within a specified time period. This report can be viewed in the browser or exported to a CSV file (Comma Separated Value) which can be saved and opened by a spreadsheet program like Microsoft Excel or OpenOffice's OpenCalc</p>

          <h4>{{trans.SORTING | trn }}</h4>
          <p>{{trans.SORTING_DESC | trn }}</p>
          <h4>{{trans.FILTERING_RESULTS | trn }}</h4>
          <p>{{trans.FILTERING_DESC | trn }}</p>
          
        </div>--><!--end instructions collapsible-->
      </div><!--end instructions container -->
      
      <div class="control-group well">
         
        <div ng-if="report || loading" id="exportableReport-summary" class="alert" ng-class="{'alert-info': report.length > 1 || loading, 'alert-danger': report.noResults.length > 1}" style="margin-top:0px">
          <div id='loading' ng-show='loading && !report' >
              <img src='//s3.amazonaws.com/bucketimgs3/shared/img/ajax-loader.gif' alt='loading' />
              Loading Operations...
          </div>
          <div ng-show="report">
            <div ng-if="report.noResults" style="font-weight:bold">{{report.noResults}}<br></div>
            <strong>Summary</strong>: There are currently {{totalOperations}} Maintenance Operations with Parts associated.
          </div>
        
        </div>
      </div><!--end control group-->
      
      <div ng-if='report && !report.noResults' class='control-group' id="quick-search">
        <label for="orderSearch" class="label-inline" >Filter results by:</label>
        <input ng-model="filter.text" class="exportable" name="orderSearch" id="orderSearch" type="text" placeholder="any word, number, etc">
      </div>

      <table ng-if="report" id="orders_report" class="table table-striped table-bordered" >
        <thead>
          <tr>

            <th class="sortable" th-sort-icon="operation_id">Op ID</th>
            <th class="sortable" th-sort-icon="operation_name">Op Name</th>
            <th class="sortable" th-sort-icon="note">Note</th>
            <th class="sortable" th-sort-icon="parts">Parts</th>
            <th class="sortable" th-sort-icon="serviceActionType">Service Action Type</th>
            <th class="sortable" th-sort-icon="advanced">Advanced?</th>

          </tr>
        </thead>
        <tbody ng-repeat="op in report | filter:filter.text | orderBy: sort.by : sort.reverse">
          <tr class="order mainReportRow-row" ng-class-odd="'reportRow-odd'" ng-class-even="'reportRow-even'">          
            
            <td>{{op.operation_id}}</td>
            <td>{{op.operation_name}}</td>
            <td>{{op.note}}</td>
            <td><span ng-repeat="part in op.parts">{{part}}. </span></td>
            <td>{{op.serviceActionType}}</td>
            <td>{{op.advanced}}</td>
                        
          </tr>
        </tbody>
      </table>

  </block>
      
      

</div><!-- end controller div-->
