#loading {
  display:inline-block;
  margin-left:16px
}
    
.instructions span {font-weight:bold}
.instructions ul {margin-left:18}
.instructions > .intro {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 18px
}

.instructions > h5, h4 {
    margin-bottom: 0
}

.form-actions {
  border-bottom: 1px solid #EEEEEE;
  border-color: #EEEEEE;
  padding-bottom: 18px;
  background-color:#fdfdfd
}

.instructions-container > h2 {color: #005580}
.instructions-container > h2:hover {color: #00315E; cursor: pointer}

.xpand {display:inline;}
.xpand:hover {color: #00315E;cursor:pointer}