.screen-help-topic .edit_button {
	margin-right: 10px;
}

.topic-tags {
	padding-top: 2px;
}

.topic-tags__box {
	display: inline-block;
	margin-right: 4px;
	margin-top:2px;
}

.topic-tags a {
	border: 1px solid;
	color: rgb(0, 85, 128);
	padding: 2px;
	font-family: monospace;
	font-size: 10px;
	border-radius: 2px;
}


